# Database connection string (e.g. Neon, PostgreSQL, etc.)
CONNECTIONSTRING="postgresql://neondb_owner:npg_F47qjBHxcvuN@ep-round-grass-apggflmr.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Server Port
PORT=5000

# JWT Secret token
JWT_ACCESS_SECRET=hello
JWT_REFRESH_SECRET=bye

# Token Expiration
JWT_ACCESS_EXPIRATION=1d
JWT_REFRESH_EXPIRATION=10d
